*{margin: 0 auto;}
.title {width: 300px;}
.context{ width: 500px; height: 600px; }
input{width: 80%; height: 20px;}
.aBtn{background: #062124;color: #fff !important;padding: 5px 12px !important;margin: 0 auto;width: 25px; text-decoration:none;}
.wrap{width: 1000px;}
a{text-decoration: none;}
/*Table Class*/
.th1{width:10%}
.th2{width:20%}
.th3{width:30%}
.th4{width:40%}
.th6{width:60%}
.th10{width:100%}
table{width:100%;margin:3px 0 10px 0;border-bottom:1px solid #062124;border-left:none;border-right:none;border-collapse:inherit;}
table > thead{background:#e6e7e9;line-height:2.1;}
table td{padding:5px 0;text-align:center;vertical-align:middle;line-height: 1.5;border-bottom: 1px solid #e6e7e9;}
table tr:last-child td{border-bottom:0;}
/*.mc_table td:nth-child(2){font-weight:800;}*/
table tbody tr{border-bottom:1px solid #e6e7e9;}
table tbody tr:last-child{border-bottom:none;}
table tbody td img{vertical-align:middle;}